<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <meta charset="UTF-8" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>J&E are getting married!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://s3.amazonaws.com/john-elisa-wedding-website-content/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">
    <script src="//www.parsecdn.com/js/parse-1.3.3.min.js"></script>
  </head>

  <body>
    <div ng-controller="MyCtrl">

      <div backstretch backstretch-images="slides" backstretch-duration="4000">
        <nav>
          <ul>
            <li><a href="#section-top" du-smooth-scroll du-scrollspy><div class="je-logo"><span></span></div></a></li>
            <li><a href="#section-1" du-smooth-scroll du-scrollspy>Wedding</a></li>
            <li><a href="#section-2" du-smooth-scroll du-scrollspy>Bridal Party</a></li>
            <li><a href="#section-3" du-smooth-scroll du-scrollspy>RSVP</a></li>
          </ul>
        </nav>
        <section id="section-top">
        </section>
      </div>

      <p id="intro-blurb">
      Ciao and 你好! 
      <br>
      <br>
      We're excited to have you join us at our wedding.  Bring your appetites and get ready for a night of culture, food, and celebration!
      <br>
      - J&E
      </p>

      <hr>

      <section id="section-1">
        <br>
        <h2 class="section-heading">Wedding</h2>
        <div class="container">
          <div class="row">
            <div class="well-container">
              <p>Saturday October 24, 2015</p>
              <p>Toronto / Ontario / Canada</p>
              <div class="col-md-4">
                <h3>Ceremony</h3>
                <a href="http://www.rosedaleunited.org">Rosedale United Church</a>
                <br>
                12:30pm
              </div>
              <div class="col-md-4">
                <h3>Cocktails</h3>
                <a href="http://fountainblu.ca">FountainBlu</a>
                <br>
                5:30pm
              </div>
              <div class="col-md-4">
                <h3>Dinner</h3>
                <a href="http://fountainblu.ca">FountainBlu</a>
                <br>
                6:30pm
              </div>
            </div>
          </div>
        </div>
      </section>

      <hr>

      <section id="section-2">
        <br>
        <h2 class="section-heading">Bridal Party</h2>
        <div class="container">
          <div class="row well">
            <div class="well-container">
              <h3>Bridesmaids</h3>
              <div class="col-xs-6 col-md-3">
                <h4>Cristina<br>Costa</h4>
                <img class="profile-pic" ng-src="{{contentUrl}}Cristina.jpg" alt="" />
              </div>
              <div class="col-xs-6 col-md-3">
                <h4>Amanda<br>Khoraych</h4>
                <img class="profile-pic" ng-src="{{contentUrl}}Amanda.jpg" alt="" />
              </div>
              <div class="col-xs-6 col-md-3">
                <h4>Kimberly<br>Feeley</h4>
                <img class="profile-pic" ng-src="{{contentUrl}}Kim.jpg" alt="" />
              </div>
              <div class="col-xs-6 col-md-3">
                <h4>Josephine<br>Kwong</h4>
                <img class="profile-pic" ng-src="{{contentUrl}}Josie.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="row well">
            <div class="well-container">
              <h3>Groomsmen</h3>
              <div class="col-xs-6 col-md-3">
                <h4>Gabriel<br>Tsang</h4>
                <img class="profile-pic" ng-src="{{contentUrl}}Gabe.jpg" alt="" />
              </div>
              <div class="col-xs-6 col-md-3">
                <h4>Gregory<br>Gaisano</h4>
                <img class="profile-pic" ng-src="{{contentUrl}}Greg.jpg" alt="" />
              </div>
              <div class="col-xs-6 col-md-3">
                <h4>Jason<br>Medeiros</h4>
                <img class="profile-pic" ng-src="{{contentUrl}}Jason.jpg" alt="" />
              </div>
              <div class="col-xs-6 col-md-3">
                <h4>Anthony<br>Khoraych</h4>
                <img class="profile-pic" ng-src="{{contentUrl}}Anthony.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="row well">
            <div class="well-container">
              <h3>Flower Girl and Ring Boy</h3>
              <div class="col-xs-6 col-md-3 col-md-offset-3">
                <h4>Angelina<br>Khoraych</h4>
                <img class="profile-pic" ng-src="{{contentUrl}}Angelina.jpg" alt="" />
              </div>
              <div class="col-xs-6 col-md-3">
                <h4>Tyler<br>Li</h4>
                <img class="profile-pic" ng-src="{{contentUrl}}Tyler.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <hr>

      <section id="section-3">
        <br>
        <h2 class="section-heading">RSVP</h2>
        <div class="container">
          <div class="row">
            <form class="simple-form">
              <p>
              I, 
              <input type="text" ng-model="rsvpForm.firstName" placeholder="first name"/> 
              <input type="text" ng-model="rsvpForm.lastName" placeholder="last name"/>
              <br>
              <select ng-init="rsvpForm.attending = attendingOptions[0].value" ng-model="rsvpForm.attending" ng-options="obj.value as obj.label for obj in attendingOptions">
              </select>
              the festivities. 
              </p>
              <br>
              <div ng-if="rsvpForm.attending === attendingOptions[0].value">
                <p>
                <select ng-init="howManyComing = 1" ng-model="howManyComing">
                  <option value="1">Just myself</option>
                  <option value="2">My partner</option>
                  <option value="3">My family</option>
                </select>
                <span ng-show="howManyComing == 1">will be coming.</span>
                <span ng-if="howManyComing == 2">
                  <input type="text" ng-model="rsvpForm.datesName" placeholder="my partner's name"/> will be coming with me.
                </span>
                <span ng-if="howManyComing == 3">
                  will be coming. Here are their names:
                  <br>
                  <input type="text" ng-model="rsvpForm.familyName1" placeholder="family member #1"/><br>
                  <input type="text" ng-model="rsvpForm.familyName2" placeholder="family member #2"/><br>
                  <input type="text" ng-model="rsvpForm.familyName3" placeholder="family member #3"/><br>
                  <input type="text" ng-model="rsvpForm.familyName4" placeholder="family member #4"/><br>
                  <input type="text" ng-model="rsvpForm.familyName5" placeholder="family member #5"/><br>
                  <input type="text" ng-model="rsvpForm.familyName6" placeholder="family member #6"/>
                </span>
                </p>
                <br>
                <p>
                Special food requests include:
                <input type="text" ng-model="rsvpForm.specialRequest" placeholder="allergy, veggie, etc."/>.
                </p>
                <br>
                <p>
                You'll find me on the dance floor when they play
              <i class="icon-spinner icon-spin icon-large"></i>
                <input type="text" ng-model="rsvpForm.songs" placeholder="song name"/>.
                </p>
                <p>
              </div>

              <br>

              <button type="button" ng-show="!savedRsvp" ng-click="saving = true; submitRsvpForm()" ng-disabled="submittedRsvp">Submit</button>
              <div ng-show="saving">
                <br>
                <p>
                Sending in your RSVP...
                </p>
              </div>
              <div ng-show="!savedRsvp">
                <br> 
                or 
                <br> 
                <a href="mailto:johnandelisawedding@gmail.com">I'd rather email my RSVP at johnandelisawedding@gmail.com</a>
              </div>
              <div ng-show="savedRsvp">
                <br>
                <div ng-show="rsvpForm.attending == attendingOptions[0].value">
                  <p>You're all set! Thanks and we look forward to seeing you in October!</p>
                </div>
                <div ng-show="rsvpForm.attending === attendingOptions[1].value">
                  <p>Sad to hear you can't make it. Thanks for letting us know!</p>
                </div>
              </div>
              <div ng-show="errorRsvp">
                <br>
                <p>
                Something went wrong :(
                <br>
                Please RSVP at <a href="mailto:johnandelisawedding@gmail.com">johnandelisawedding@gmail.com</a> instead.
                </p>
              </div>
            </form>
          </div>
        </div>
      </section>

      <footer>
        <section id="section-bottom">
          <img id="footer-image" ng-src="{{contentUrl}}footer.jpg" alt=""/>
        </section>
      </footer>

    </div>

    <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/0.6.4/angular-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
    <script src="./scripts/ng-backstretch.min.js"></script>
    <script src="./scripts/app.js"></script>

    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-36480893-2', 'auto');
ga('send', 'pageview');
    </script>

  </body>

</html>
